html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Odibee Sans', cursive;
  background-color: #080A0D !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.navLink a:hover {
  color: #2270B8;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
